<% @book.each do |book| %>
    <div>
        <p>投稿ユーザー画像:<%= image_tag 'sample-author1.jpg' %></p>
        <p>ブック名:<%= book.title %></p>
        <p>説明:<%= book.body %></p>
        <p>ユーザーネーム:<%= book.user_id %></p>
    </div>
<% end %>